{% extends "base.html" %}

{% block title %}
Groups
{% endblock title%}

{% block content %}
<div class="post">
    <h2 class="post-title"><a href="{{ current_url }}">Groups</a></h2>

    Sometimes it's helpful to narrow down the term list to a specific group you can search within:
    <div class="taglistsection">
        <ul>
            {% for term in terms %}
            <li>
                <a href="{{term.permalink}}">
                    {% if term.name == "aws" %} Amazon Web Services
                    {% elif term.name == "fp" %} Functional programming
                    {% elif term.name == "gcp" %} Google Cloud Platform
                    {% elif term.name == "jslib" %} JavaScript libraries
                    {% elif term.name == "msazure" %} Microsoft Azure
                    {% elif term.name == "proglang" %} Programming languages
                    {% elif term.name == "pylib" %} Python libraries
                    {% else %} {{ term.name }}{% endif %}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}