{% extends "base.html" %}

{% block title %}
#{{ term.name }} &middot; {{ super() }}
{% endblock title%}

{% block extra_head %}
{% if taxonomy.rss %}
<link rel="alternate" type="application/rss+xml" title="#{{ term.name }}RSS - config.title"
    href="{{ current_path }}/rss.xml">
{% endif %}
{% endblock extra_head %}

{% block content %}
<h2>Group: 
{% if term.name == "aws" %} Amazon Web Services
{% elif term.name == "fp" %} Functional programming
{% elif term.name == "gcp" %} Google Cloud Platform
{% elif term.name == "jslib" %} JavaScript libraries
{% elif term.name == "msazure" %} Microsoft Azure
{% elif term.name == "proglang" %} Programming languages
{% elif term.name == "pylib" %} Python libraries
{% else %} {{ term.name }}{% endif %}
</h2>
{% if paginator %}
{{ macros::list_pages(pages=paginator.pages) }}
{% else %}
{{ macros::list_pages(pages=term.pages) }}
{% endif %}
{% endblock content %}