{% extends "base.html" %}

{% block title %}
About terms.dev
{% endblock title%}

{% block content %}

<h4>About</h4>

<p>This website is dedicated to bringing you one, succinct definition for terms related to software development.</p>

<p>That's it!</p>

<hr>

<h4>Bot</h4>

There is now a Twitter bot that will post a few of these items per day: <a href="https://twitter.com/terms_dev">@terms_dev</a>

<hr>

<h4>Contributions</h4>

<p>I'm happy to take suggestions for new terms or changes to definitions. The best way is to submit a pull request to the source repository <a href="https://github.com/timf/terms.dev">on GitHub</a>.</p>

<p>Don't have time for that? Just tweet or DM me on Twitter (<a href="https://twitter.com/peakscale">@peakscale</a>). No problem.</p>

<p>You can also anonymously submit suggestions using <a href="https://docs.google.com/forms/d/e/1FAIpQLSfieuAJJIg0uTc3GgowKBH74m6X2G7UiklBH0DfXjapsvY67w/viewform">this Google Form</a>.

<hr>

<p>Brought to you by <a href="https://www.peakscale.com/">Tim Freeman</a> and all of our <a href="https://github.com/timf/terms.dev/blob/main/README.md#contributors">open source contributors</a>.</p>

{% endblock content %}
